@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');

:root {
    --heading-font: "Lato";
    --paragraph-font: Roboto, Helvetica, sans-serif
}

#content {
    max-width:  1601px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 80px;
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    padding: 20px 0;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #FE5F55;
}
body {
    background-color: black;
    color: #ffc145;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7fb685;
}
nav a:hover {
    background-color: #5465ff;
}
#hero-img {
    width: 100%;
}
#logo {
    width: 5%;
}
footer p {
    font-size: 1.2em;
    color: #5465FF;
}
footer a {
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}
footer p a:hover {
    text-decoration: underline;
}   
footer {
    background-color: #7FB685;
    margin: 50px 0 0 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
h2 {
    margin: 0;
    padding: 15px;
}
p {
    font-family: var(--paragraph-font);
}
.msg {
    color: white;
    background-color: #5465ff;
    line-height: 1.5em;
}
.home-title {
    font-size: 2em;
}
nav {
    display: inline-block;
}
.social {
    padding: 15px;
}
.book, .join {
    background-color: #ffc145;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    text-decoration: underline;
    background-color: #FE5F55;
}
.card-img {
    border: 10px solid white;
}
main section img {
    box-sizing: border-box;
    border-color: white;
}
.rivers-card, .camping-card, .rapids-card, .background, .mountains {
    padding: 80px 0;
}
.msg {
    margin: 50px 0 0 0;
    padding: 25px
}