@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');

:root {
    --heading-font: "Lato";
    --paragraph-font: Roboto, Helvetica, sans-serif
}

#content {
    max-width:  1601px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 20px 0 20px;
    color: white;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    padding: 20px 0;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #7fb685;
}
body {
    background-color: white;
    color: #ffc145;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #7fb685;
}
nav a:hover {
    background-color: #5465ff;
}
.logo {
    width: 40%;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer p {
    font-size: 1.2em;
    color: #5465FF;
}
footer a {
    text-decoration: none;
    padding: 10px;
    margin: 15px;
}
footer p a:hover {
    text-decoration: underline;
}   
footer {
    background-color: #7FB685;
    margin: 50px 0 0 0;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
h2 {
    margin: 0;
    padding: 15px;
}
p {
    font-family: var(--paragraph-font);
}
.msg {
    color: white;
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.home-title {
    font-size: 2em;
}
nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.social {
    padding: 15px;
}
.book, .join {
    background-color: #ffc145;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 4px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    text-decoration: underline;
    background-color: #FE5F55;
}
.card-img {
    border: 10px solid white;
}
main section img {
    box-sizing: border-box;
    border-color: white;
}
.rivers-card, .camping-card, .rapids-card, .background {
    padding: 80px 0;
}
.msg {
    margin: 50px 0 0 0;
    padding: 25px
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.icon {
    padding: 20px 0 0 0 ;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}
.card-img {
    border: 10px solid #7fb685;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

.home-grid-1 {
    margin: 15px;
}

.home-grid-1 > h2 {
    text-align: center;
}

details {
    padding: 0.5em 0.5em 0;
}
details > summary {
    color: white;
    background-color: #7fb685;
    cursor: pointer;
    padding: .5rem 1rem;
  }
  
  details > summary > * {
    display: inline;
  }
  
  details > div {
    border: 2px solid #7fb685;
    margin-top: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    text-align: center;
    justify-self: center;
    align-self: center;
  }

  #faq-title {
    text-align: center;
  }
  details > div > img{
    grid-column: 3/4;
    max-width: 600px;
    max-height: 500px;
    justify-self: center;
  }
  .text-box{
    text-align: center;
    margin: auto auto;
  }
  .contact {
    text-align: center;
    background-color: #7fB685;
    color: white;
    margin-top: 100px;
    padding: 50px;
    max-width: 50%;
    margin: auto auto;
  }
  input {
    width: 80%;

  }
  .contactus {
    height: 100%;
    width: 80%;
    padding: 50px;
    display: block;
    margin: 15px auto;
}
.contact > h3 {
    margin: 0 0 15px;
}