@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:ital,wght@1,300&display=swap');

body {
    margin: 0;
    background-color: gray;
    text-align: center;
}

img {
    width: 80%;
    display: inline-block;
    margin: 0 auto;
    background-size: cover;
}
.content {
    width: 15%;
    border-radius: 100%;
    border-color: black;
    display: inline-block;
    margin: 50px 5%;
    border: 15px solid rgb(60, 60, 60);
}